:root {
  --color-primary: #fe8a02;
  --color-primary-dark: #42413c;
  --color-white: #fff;
  --color-white-50: #d7ccc0;
  --color-dark: #2a2626;
  --color-dark-50: #908d8b;
  --color-light: #f5f4f0;
  --color-brown: #b09a81;
  --color-blue: #1085c5;
  --color-tangerine-dark: #ea7600;
  --font-main: "Open Sans", sans-serif;
  --font-title: "Neucha Font", cursive;
}

@font-face {
  font-weight: normal;
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-weight: bold;
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Bold.ttf");
}

@font-face {
  font-family: "Neucha Font";
  src: url("../fonts/Neucha-Regular.ttf");
}

/* tag styles */

html {
  font-size: 16px;
  line-height: 1.6em;
  font-family: var(--font-main);

  color: var(--color-dark);
}

body {
  margin: 0;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  margin: 0;

  font-weight: normal;
  line-height: 1.2em;
  font-family: var(--font-title);

  color: var(--color-primary);
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

/* general styles */

.container {
  margin: 0 auto;
  padding: 100px 0;
  max-width: 1110px;
}

.background {
  position: relative;
}

.background::before,
.background::after {
  position: absolute;
  width: 100%;
  height: 100%;

  content: "";
}

.background::after {
  top: 0;
  z-index: -3;
}

.background-light::before,
.background-brown::before {
  z-index: -2;

  background-image: url("../images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.1;
}

.background-light::after {
  background-color: var(--color-light);
}

.background-brown::after {
  background-color: var(--color-brown);
}

.background-primary-dark::after {
  background-color: var(--color-primary-dark);
}

.background-brown {
  color: var(--color-white);
}

.columns {
  column-count: 2;
  column-gap: 30px;
}

.columns-title {
  column-span: all;
  margin-top: 100px;
  margin-bottom: 20px;
  padding: 5px 10px;

  font-weight: bold;
  font-size: 14px;
  font-family: var(--font-main);
  text-transform: uppercase;

  color: var(--color-white);
  background-color: var(--color-brown);
}

.background-brown .columns-title {
  color: var(--color-brown);
  background-color: var(--color-white);
}

.columns-item {
  break-inside: avoid;
  margin-top: 0;
}

.button {
  background-color: var(--color-primary);
}

.button:hover {
  background-color: var(--color-tangerine-dark);
}

/* header section */

.header {
  position: relative;
}

.header-title {
  margin-bottom: 185px;
}

.header-title-dark {
  color: var(--color-dark);
}

.header-image {
  position: absolute;
  top: 55px;
  right: -270px;
  z-index: -1;
  height: 525px;
}

.header-button {
  display: inline-block;
  margin-top: 40px;
  margin-left: calc(50% + 15px);
  padding: 12px 24px;

  font-weight: bold;
  text-transform: uppercase;

  color: var(--color-white);
  text-decoration: none;
}

/* video section */

.video {
  text-align: center;
}

.video-title-dark {
  color: var(--color-dark);
}

.video-player-title {
  margin: 30px 0;
}

.video-player {
  position: relative;
  z-index: 1;
  margin-bottom: -200px;
  width: 919px;
  height: 569px;

  border: 0;
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

/* navigation section */

.navigation {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 20px;
  padding-top: 200px;

  counter-reset: navigation-item;
}

.navigation-title {
  font-size: 52px;
}

.navigation-title-white {
  color: var(--color-white);
}

.navigation-item {
  position: relative;
  padding: 24px;

  background-color: var(--color-light);
}

.navigation-item::before {
  display: block;
  margin-bottom: 40px;

  font-size: 64px;
  line-height: 1;
  font-family: var(--font-title);

  color: var(--color-primary-dark);

  counter-increment: navigation-item;
  content: counter(navigation-item);
}

.card {
  box-sizing: border-box;
  width: calc((100% / 3) - 20px);
}

.card-link {
  color: inherit;
  text-decoration: none;
}

.card-description {
  margin-bottom: 0;
}

.card-link::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  content: "";
}

.navigation-item:hover,
.navigation-item:hover::before,
.navigation-item:hover .card-title {
  color: var(--color-white);
  background-color: var(--color-primary);
}

/* distortion section */

.distortion {
  display: flex;
  column-gap: 30px;
}

.distortion-image {
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

.distortion-header,
.distortion-description {
  margin: 0;

  line-height: 1.2em;
  font-family: var(--font-title);
}

.distortion-header {
  font-size: 24px;

  color: var(--color-dark-50);
}

.distortion-title {
  margin-bottom: 30px;

  color: var(--color-dark);
}

.distortion-description {
  font-size: 34px;
}

.background-brown .distortion-header {
  color: var(--color-white-50);
}

.background-brown .distortion-title {
  color: var(--color-white);
}

/* subscription section */

.subscription {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 55px;

  color: var(--color-white);
  background-color: var(--color-primary-dark);
}

.subscription-title {
  color: var(--color-white);
}

.subscription-label {
  display: block;
  margin-bottom: 0.5em;

  font-size: 18px;

  cursor: text;
}

.subscription-fieldset {
  display: flex;
}

.subscription-input {
  box-sizing: border-box;
  padding: 15px;
  width: 415px;
  height: 50px;

  font-family: var(--font-main);

  border: none;
  outline: none;
}

.subscription-button {
  width: 70px;
  height: 50px;

  background-image: url("../images/send.svg");
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

.subscription-agreement {
  margin: 0;

  font-size: 12px;
}

.subscription-link {
  color: inherit;
}

/* contacts section */

.contacts {
  margin-top: 60px;

  font-size: 14px;
  text-align: center;
}

.contacts-link {
  color: var(--color-blue);
}
