:root {
  --color-primary: #fe8a02;
  --color-primary-dark: #42413c;
  --color-white: #fff;
  --color-white-50: #d7ccc0;
  --color-dark: #2a2626;
  --color-dark-50: #908d8b;
  --color-light: #f5f4f0;
  --color-brown: #b09a81;
  --color-blue: #1085c5;
  --color-tangerine-dark: #ea7600;
  --font-main: "Open Sans", sans-serif;
  --font-title: "Neucha Font", cursive;
}

@font-face {
  font-weight: normal;
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-weight: bold;
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Bold.ttf");
}

@font-face {
  font-family: "Neucha Font";
  src: url("../fonts/Neucha-Regular.ttf");
}

/* tag styles */

html {
  font-size: 16px;
  line-height: 1.6em;
  font-family: var(--font-main);

  color: var(--color-dark);
}

body {
  margin: 0;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  margin: 0;

  font-weight: normal;
  line-height: 1.2em;
  font-family: var(--font-title);

  color: var(--color-primary);
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

/* general styles */

.container {
  margin: 0 auto;
  padding: 100px 0;
  max-width: 1110px;
}

.background {
  position: relative;
}

.background::before,
.background::after {
  position: absolute;
  width: 100%;
  height: 100%;

  content: "";
}

.background::after {
  top: 0;
  z-index: -3;
}

.background-light::before,
.background-brown::before {
  z-index: -2;

  background-image: url("../images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.1;
}

.background-light::after {
  background-color: var(--color-light);
}

.background-brown::after {
  background-color: var(--color-brown);
}

.background-primary-dark::after {
  background-color: var(--color-primary-dark);
}

.background-brown {
  color: var(--color-white);
}

.columns {
  column-count: 2;
  column-gap: 30px;
}

.columns-title {
  column-span: all;
  margin-top: 100px;
  margin-bottom: 20px;
  padding: 5px 10px;

  font-weight: bold;
  font-size: 14px;
  font-family: var(--font-main);
  text-transform: uppercase;

  color: var(--color-white);
  background-color: var(--color-brown);
}

.background-brown .columns-title {
  color: var(--color-brown);
  background-color: var(--color-white);
}

.columns-item {
  break-inside: avoid;
  margin-top: 0;
}

.button {
  background-color: var(--color-primary);
}

.button:hover {
  background-color: var(--color-tangerine-dark);
}
